---
import Layout from '../layouts/Layout.astro';
import Navbarlight from "@components/navbar/navbarlight.astro";
import Container from "@components/container.astro";
import { SEO } from "astro-seo";

// Importar el archivo JSON desde la carpeta public/data
import novedades from '../../public/data/novedades.json';

// Configuración de SEO
const title = "Novedades | Chestudio";
const description = "Descubre las últimas novedades de Chestudio, con artículos y actualizaciones relevantes sobre nuestra consultora.";
const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();
const image = "/opengraph.jpg";  // Asegúrate de tener una imagen representativa

const openGraphImage = new URL(image, Astro.site).toString();
---

<SEO
  title={title}
  description={description}
  canonical={canonicalURL}
  openGraph={{
    basic: {
      url: canonicalURL,
      type: "website",
      title: title,
      image: openGraphImage,
    },
    image: {
      alt: "Chestudio",
    },
  }}
/>

<Layout title="Novedades">
  <Navbarlight />

  <!-- Contenedor principal -->
  <div class="w-full mt-10">
    <h1 class="text-4xl font-bold text-center mb-6">Listado de Novedades</h1>
    <Container>
      <!-- Iterar sobre las novedades -->
      {novedades.map((novedad, index) => {
        const titulo = novedad.titulo; 
        const descripcion = novedad.descripcion; 
        const imagen = novedad.imagen;
        const fecha = novedad.fecha;
        const link = `/novedad/${index}`; // Ruta dinámica basada en el índice

        return (
          <div key={index} class="flex flex-col md:flex-row items-start mb-6 bg-white overflow-hidden border-b border-gray-300">
            <!-- Imagen a la izquierda con enlace -->
            <a href={link} class="md:w-1/4 flex">
              <img 
                src={imagen} 
                alt={titulo} 
                class="object-cover w-full h-full" 
              />
            </a>

            <!-- Información a la derecha -->
            <div class="w-full md:w-2/4 p-4 px-8 flex flex-col justify-between">
              <div>
                <h2 class="text-2xl font-semibold text-[#3b5e97] mb-2 text-justify">
                  <a href={link}>{titulo}</a>
                </h2>
                <p class="text-gray-700 mb-2 text-justify">{descripcion}</p>
                <p class="text-sm text-gray-500">{fecha}</p>
              </div>
            </div>

            <!-- Botón "Ver" -->
            <div class="mt-4 mb-4 md:w-1/4 flex items-center justify-center">
              <a 
                href={link} 
                class="uppercase text-c pill mt-3 px-4 py-4 bg-blue-500 text-white font-semibold rounded-lg hover:#2d3748 transition-colors duration-300 ease-in-out">
                Ver
              </a>
            </div>
          </div>
        );
      })}
    </Container>
  </div>
</Layout>
