---
import Layout from '@layouts/Layout.astro';
import Navbarlight from '@components/navbar/navbarlight.astro';

// Obtiene el parámetro de la URL (slug) y usa `import.meta.glob` para cargar el archivo Markdown correspondiente.
const { slug } = Astro.params;
console.log('Slug recibido:', slug);

// Cargar archivos markdown desde la carpeta de novedades
const allMarkdownPosts = import.meta.glob('../../content/novedades/**/*.md', { eager: true });

const post = allMarkdownPosts[`../content/novedades/${slug}.md`];

if (!post) {
  throw new Error(`No se encontró el post con el slug: ${slug}`);
}

// getStaticPaths define las rutas que deberían ser renderizadas de manera estática
export async function getStaticPaths() {
  /* return [
    {params: {slug: "probando"}}
  ] */
  const response = await fetch("http://localhost:3001/api/blog/slugs");
  /* if (!response.ok) {
    throw new Error('Error fetching data');
  } */
  const data = await response.json();

  console.log(data);

  return data;
}

const { titulo, subtitulo, fecha } = post.frontmatter;
const contenido = post.default;

---

<Layout title={titulo}>
  <Navbarlight />
  <div class="mx-auto max-w-3xl mt-14">
    <h1 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-1 lg:leading-tight text-center">
      {titulo}
    </h1>
    <p class="text-lg text-gray-600 mt-2 text-center">{subtitulo}</p>
    <p class="text-sm text-gray-500 mt-1 text-center">{fecha}</p>
    <div class="mt-6">
      <div innerHTML={contenido} />
    </div>
  </div>
</Layout>
