---
import { Picture } from "astro:assets";
import agusImage from "assets/imgs/abogado_chalhub.png";
import caroImage from "assets/imgs/abogada_lipchack.jpg";
import aboutData from "../../public/data/about.json"; // Importa el archivo JSON
---

<style>
  .pill {
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 4rem;
    font-weight: 600;
    padding: 1.25rem 2.5rem;
    transition: all 0.5s ease-in-out;
  }
  .pill:hover {
    color: var(--color-azul-accent);
    background-color: #fff;
    box-shadow: 0 5px 15px #fff;
  }
  .hero {
    width: 250px;
  }
</style>

<section id="about" class="py-20 px-5 text-aa">
  <div class="my-20 md:mt-0 text-center grid justify-center">
    <span class="text-3xl leading-3">*</span>
    <h2 class="text-3xl lg:text-3xl lg:tracking-tight">Quiénes Somos</h2>
    <p class="text-lg max-w-3xl mt-4 text-balance">
      Somos una red de abogados apasionados por el derecho y la tecnología. El
      proyecto de CH Estudio nació con la idea de unir a los mejores
      profesionales, para abordar las diferentes temáticas en conjunto de los
      temas y problemáticas actuales.
    </p>
  </div>

  <!-- Persona 1: Agustín -->
  <div class="grid md:flex md:items-center justify-center gap-5 mt-16">
    <div class="grid gap-3">
      <Picture
        src={agusImage}
        alt="Agustín Chalhub, abogado"
        class="hero transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-contain"
      />
      <a
        class="text-c underline"
        href={aboutData[0].linkedin}
        rel="noreferrer"
        target="_blank"
      >LINKEDIN<span class="material-symbols-outlined">north_east</span>
      </a>
    </div>
    <div class="grid gap-3">
      <h3 class="text-4xl">
        {aboutData[0].name.split(" ")[0]} <span class="font-bold">{aboutData[0].name.split(" ")[1]}</span>
      </h3>
      <span class="flex gap-2 rounded-full bg-aa w-fit px-6 text-white uppercase">
        {aboutData[0].role}
      </span>
      <div class="max-w-md grid gap-2">
        <p>{aboutData[0].desc1}</p>
        <p>{aboutData[0].desc2}</p>
        <p>{aboutData[0].desc3}</p>
      </div>
    </div>
  </div>

  <!-- Persona 2: Carolina -->
  <div class="grid md:flex md:items-center justify-center gap-5 mt-16">
    <div class="grid gap-3">
      <Picture
        src={caroImage}
        alt="Carolina Lipchak, abogada"
        class="hero transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-contain"
      />
      <a
        class="text-c underline"
        href={aboutData[1].linkedin}
        rel="noreferrer"
        target="_blank"
      >LINKEDIN<span class="material-symbols-outlined">north_east</span>
      </a>
    </div>
    <div class="grid gap-3">
      <h3 class="text-4xl">
        {aboutData[1].name.split(" ")[0]} <span class="font-bold">{aboutData[1].name.split(" ")[1]}</span>
      </h3>
      <span class="flex gap-2 rounded-full bg-af w-fit px-6 text-white uppercase">
        {aboutData[1].role}
      </span>
      <div class="max-w-md grid gap-2">
        <p>{aboutData[1].desc1}</p>
        <p>{aboutData[1].desc2}</p>
        <p>{aboutData[1].desc3}</p>
      </div>
    </div>
  </div>
</section>
